<!--
WARNING: This file is managed by admin.py. It is NOT a config file, and changing
a single character below this comment WILL break your CMS installation by
re-creating the groups created by a plugin, and effectively kicking everyone
out of them. If './admin.py plugins install' or
'./admins.py plugins remove <plugin>' is not sufficient, then something else is
wrong.
-->
<!-- layout-plugin -->
<link rel="import" href="../plugins/layout-plugin/components.html" />
<!-- /layout-plugin -->
<!-- blog-plugin -->
<link rel="import" href="../plugins/blog-plugin/components.html" />
<!-- /blog-plugin -->
<!-- auth-plugin -->
<link rel="import" href="../plugins/auth-plugin/components.html" />
<!-- /auth-plugin -->
